<form method="POST" action="/buyer/login">
  <label for="email">Email:</label> <input id="email" type="email" name="email" value="" placeholder="Enter your email" /><br><br>
  <label for="password">Password: </label><input type="password" id="password" name="password" value="" placeholder="Enter your password" /><br><br>
  <input type="submit" value="Log In">
</form>