<div class="row">
<% @seller.each do |seller| %>
  <%= erb :'sellers/seller', locals: { seller: seller } %>
<% end %> 

<% unless current_buyer %>
<a href="/sellers/new" class="button expand radius">Add a new seller</a>
<% end %>

  
