<div class="row">
<div class="large-12 columns">

<div class="row">
  <div class="large-6 columns">
    <img src="http://placehold.it/500x500&text=Image"><br>
  </div>
  
  <%= erb :'sellers/seller', locals: { seller: @seller } %>
  
</div>

<div class="row">
 <!--  <div class="large-12 show-for-small columns">
    <h3>Header</h3><hr>
  </div> -->

  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=Thumbnail">
    <div class="panel">
      <p>FOR SALE</p>
    </div>
  </div>

  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=Thumbnail">
    <div class="panel">
      <p>FOR SALE</p>
    </div>
  </div>
  
  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=Thumbnail">
    <div class="panel">
      <p>FOR SALE</p>
    </div>
  </div>

  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=Thumbnail">
    <div class="panel">
      <p>FOR SALE</p>
    </div>
  </div>

</div>



</div>
</div>
