<h1 class="text-center">LIST OF ALL PRODUCTS</h1>

<div class="row">
<% @products.each do |product| %>
  <a href="products/<%= product.id %>">
  <div class="small-4 columns">
    <div class="image-wrapper overlay-fade-in">
      <% product.images.each do |image| %>      
      <img src="<%= image.file_path%>" />
      <% end %>
      <div class="image-overlay-content">
        <h2><%= product.name %></h2>
        <p class="price"><%= product.price %></p>
       </div>
     </div>
  </div>
  </a>
<% end %>
</div>

<div class="row">
  <div class="large-12 column">
    <a href="/products/new" class="button expand radius success ">Add New Product</a>
  </div>
</div>

