<% @products.take(6).each do |product| %>

<div class="small-4 columns">

<% product.images.each do |image| %>
<img src="<%= image.file_path%>">
<% end %>
  <div class="panel">
    <a href="/products/<%= product.id %>"><p><%= product.name %></p></a>
    <p><%= product.price %></p>
  </div>
</div>

<% end %>
