<h1>Look at this freakin' Home Page</h1>
<a href="/sellers" class="button">Sellers List</a>
<a href="/products" class="button">Products List</a>

<div id="index-banner">
  <div id="slider">
   <figure>
      <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
      <img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
      <img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
      <img src="http://demosthenes.info/assets/images/ankor-wat.jpg" alt="">
      <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
   </figure>
  </div>

  <div id="slider2">
   <figure>
    <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
    <img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
    <img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
    <img src="http://demosthenes.info/assets/images/ankor-wat.jpg" alt="">      
    <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
   </figure>
  </div>

</div>
