<div class="row">
  <div class ="small-4 columns">
    <div id="slider">
      <figure>
      <% @products.take(5).each do |product| %>
        <% product.images.each do |image| %>
          <img src="<%= image.file_path %>" alt="" />
        <% end %>
      <% end %>
     </figure>
    </div>
  </div>
  <div class ="small-4 columns">
    <div id="slider">
     <figure>
      <% @products.where(id: 6..10).each do |product| %>
        <% product.images.each do |image| %>
          <img src="<%= image.file_path %>" alt="" />
        <% end %>
      <% end %>
     </figure>
    </div>
  </div>
  <div class ="small-4 columns">
    <div id="slider">
     <figure>
      <% @products.last(5).each do |product| %>
        <% product.images.each do |image| %>
          <img src="<%= image.file_path %>" alt="" />
        <% end %>
      <% end %>
     </figure>
    </div>
  </div>
</div>
<br>
<div id="banner">
  <img src="/images/logo/pamoja_white.png" alt="pamoja">
</div>

<div class="row">
  <div class="large-12 columns homepage-spacing">
    <img src="http://www.alterecofoods.com/wp-content/uploads/2014/05/Fair-Trade-Certified-Logo-CMYK.png"/>
  <h1>About</h1>
    <p>Fair Trade is a different way of doing business. It's about making principles of fairness and decency mean something in the marketplace.
    It seeks to change the terms of trade for the products we buy - to ensure the farmers and artisans behind those products get a better deal. Most often this is understood to mean better prices for producers, but it often means longer-term and more meaningful trading relationships as well.</p>
  </div>
</div>
 
