<div class="row">
  <div class ="small-4 columns">
    <div id="slider">
      <figure>
      <% @products.take(5).each do |product| %>
        <% product.images.each do |image| %>
          <img src="<%= image.file_path %>" alt="" />
        <% end %>
      <% end %>
     </figure>
    </div>
  </div>
  <div class ="small-4 columns">
    <div id="slider">
     <figure>
      <% @products.where(id: 6..10).each do |product| %>
        <% product.images.each do |image| %>
          <img src="<%= image.file_path %>" alt="" />
        <% end %>
      <% end %>
     </figure>
    </div>
  </div>
  <div class ="small-4 columns">
    <div id="slider">
     <figure>
      <% @products.last(5).each do |product| %>
        <% product.images.each do |image| %>
          <img src="<%= image.file_path %>" alt="" />
        <% end %>
      <% end %>
     </figure>
    </div>
  </div>
</div>
<br>
<div id="banner">
  <img src="/images/logo/pamoja_white.png" alt="pamoja">
</div>
