<br>
<div class="row">
  <div class ="medium-12 slider">
  <div id="slider">
   <figure>
    <% @products.each do |product| %>
      <% product.images.each do |image| %>
        <img src="<%= image.file_path %>">
      <% end %>
    <% end %>
   </figure>
  </div>
  </div>
</div>
