<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="/javascript/js/foundation.min.js"></script>

  <script src="/javascript/js/foundation/application.js"></script>
  <script src="/javascript/js/foundation/foundation.offcanvas.js"></script>
  <!-- Other JS plugins can be included here -->
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <div class="left-small">
        <a role="button" aria-expanded="false" aria-controls="idOfLeftMenu" class="left-off-canvas-toggle menu-icon" href="/" ><span></span></a>
      </div>
      <section class="middle tab-bar-section">
        <h1 class="title">Pamoja</h1>
      </section>
    </nav>
  
    <%= yield %>
    <!-- Off Canvas Menu -->
    <!-- <aside class="left-off-canvas-menu"> -->
        <!-- whatever you want goes here -->
        <nav class="left-off-canvas-menu">
          <ul class="off-canvas-list">
          <li><label>Pamoja</label></li>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products List</a></li>
          <li><a href="/products/new">Add Product</a></li>
          <li><a href="/sellers">Sellers List</a></li>
          <li><a href="/sellers/new">Add Seller</a></li>
        </ul>
      </nav>
 <!--    </aside> -->

  <a class="exit-off-canvas"></a>
  </div>
</div>
<script>
  $(document).foundation();
</script>

</body>
</html>
